HUGGING_FACE_HUB_TOKEN=<insert your token here>
VLLM_API_KEY=<insert your api key here>

VLLM_ATTENTION_BACKEND=FLASH_ATTN
VLLM_WORKER_MULTIPROC_METHOD=spawn
CUDA_VISIBLE_DEVICES=0
CUDA_DEVICE_ORDER=PCI_BUS_ID
NO_LOG_ON_IDLE=1
